.version.about_me /* version checker */
{
	color: #00000F;
	background-color: #08E3B5;
}

.html
{
	background-color: #00B0FF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 43px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 473px;
	margin-left: auto;
	margin-right: auto;
}

#u105
{
	z-index: 2;
	width: 172px;
	margin-right: -10000px;
	margin-top: -142px;
}

#pmenuu111
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -67px;
	margin-left: 172px;
}

#menuu111
{
	z-index: 4;
	width: 581px;
	margin-left: 226px;
}

#u112
{
	width: 69px;
	min-height: 34px;
	margin-right: -10000px;
}

#u113
{
	width: 69px;
	padding-bottom: 17px;
}

#u113:hover
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u113:active
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u113.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 34px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u113:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u113:active #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u113.MuseMenuActive #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 34px;
	margin: 0px -10000px 0px 0px;
}

#u119
{
	width: 76px;
	min-height: 34px;
	margin-right: -10000px;
	left: 71px;
}

#u120
{
	width: 76px;
	padding-bottom: 17px;
}

#u120:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u120:active
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u120.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u123-4
{
	width: 42px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u120:hover #u123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u120:active #u123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u120.MuseMenuActive #u123-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	width: 101px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u128
{
	width: 101px;
	padding-bottom: 17px;
}

#u128:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u128:active
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u130-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u128:hover #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u128:active #u130-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 101px;
	min-height: 34px;
	margin-right: -10000px;
	left: 252px;
}

#u137
{
	width: 101px;
	padding-bottom: 17px;
}

#u128.MuseMenuActive,#u137:hover
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u137:active
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u137.MuseMenuActive
{
	width: 101px;
	min-height: 0px;
	margin: 0px;
}

#u140-4
{
	width: 67px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u128.MuseMenuActive #u130-4,#u137:hover #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u137:active #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u137.MuseMenuActive #u140-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u141
{
	width: 117px;
	min-height: 34px;
	margin-right: -10000px;
	left: 355px;
}

#u142
{
	width: 117px;
	padding-bottom: 17px;
}

#u142:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u142:active
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u142.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	width: 83px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u142.MuseMenuActive #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u159
{
	width: 107px;
	min-height: 34px;
	margin-right: -10000px;
	left: 474px;
}

#u160
{
	width: 107px;
	padding-bottom: 17px;
}

#u160:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u161-4
{
	width: 59px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 17px;
}

#u160:hover #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u161-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u163
{
	z-index: 41;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 76px;
}

#u160:hover #u163
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u163
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u163
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u164
{
	width: 120px;
	top: 34px;
}

#u165,#u172
{
	width: 120px;
}

#u173
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u173:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175-4
{
	width: 52px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u173:hover #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	z-index: 50;
	width: 193px;
	min-height: 28px;
	margin-top: 13px;
}

#u298
{
	z-index: 51;
	width: 291px;
	min-height: 39px;
	top: -4px;
	margin-bottom: -4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 142px;
	padding-bottom: 136px;
}

#page .verticalspacer
{
	clear: both;
}

