.version.downloads /* version checker */
{
	color: #000017;
	background-color: #A406C7;
}

.html
{
	background-color: #00816A;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 768px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -55px;
	padding-bottom: 542px;
	width: 0.01px;
}

#menuu81
{
	z-index: 3;
	width: 1367px;
	left: -1px;
}

#u82
{
	width: 208px;
	min-height: 33px;
	margin-right: -10000px;
}

#u85
{
	width: 208px;
	padding-bottom: 16px;
}

#u85:hover
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u85:active
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u85.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u85:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	width: 287px;
	min-height: 33px;
	margin-right: -10000px;
	left: 210px;
}

#u276
{
	width: 287px;
	padding-bottom: 16px;
}

#u276:hover
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u276:active
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u276.MuseMenuActive
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u278-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u276:hover #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276.MuseMenuActive #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 233px;
	min-height: 33px;
	margin-right: -10000px;
	left: 499px;
}

#u285
{
	width: 233px;
	padding-bottom: 16px;
}

#u285:hover
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u285:active
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u285.MuseMenuActive
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u286-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285.MuseMenuActive #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u289
{
	width: 200px;
	min-height: 33px;
	margin-right: -10000px;
	left: 734px;
}

#u290
{
	width: 200px;
	padding-bottom: 16px;
}

#u290:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u290:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u290.MuseMenuActive
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u290:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290.MuseMenuActive #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	width: 223px;
	min-height: 33px;
	margin-right: -10000px;
	left: 936px;
}

#u299
{
	width: 223px;
	padding-bottom: 16px;
}

#u299:hover
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u299:active
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u299.MuseMenuActive
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u300-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 206px;
	min-height: 33px;
	margin-right: -10000px;
	left: 1161px;
}

#u304
{
	width: 206px;
	padding-bottom: 16px;
}

#u304:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u304:active
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u304.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u306-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u304:hover #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304:active #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304.MuseMenuActive #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#pu1222
{
	width: 0.01px;
	margin-top: 22px;
}

#u1222
{
	z-index: 2;
	width: 166px;
	padding-bottom: 150px;
	margin-right: -10000px;
}

#menuu1116
{
	z-index: 40;
	width: 126px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u1117
{
	width: 126px;
}

#u1120
{
	width: 126px;
	min-height: 17px;
	padding-bottom: 39px;
	margin-right: -10000px;
}

#u1120:hover
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1120:active
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1120.MuseMenuActive
{
	width: 126px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1122-4
{
	width: 126px;
	min-height: 17px;
	margin-right: -10000px;
	top: 19px;
}

#u1120:hover #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1120:active #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1120.MuseMenuActive #u1122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#u1231-6
{
	z-index: 47;
	width: 1143px;
	min-height: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 186px;
}

body
{
	position: relative;
	min-width: 1366px;
	padding-top: 225px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

