.version.guides_and_misc /* version checker */
{
	color: #0000EB;
	background-color: #0B9459;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -274px;
	padding-bottom: 416px;
	width: 0.01px;
}

#u483
{
	z-index: 58;
	width: 363px;
	margin-left: 419px;
}

#menuu81
{
	z-index: 2;
	width: 1201px;
	left: -1px;
	margin-top: 22px;
}

#u82
{
	width: 181px;
	min-height: 33px;
	margin-right: -10000px;
}

#u85
{
	width: 181px;
	padding-bottom: 16px;
}

#u85:hover
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u85:active
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u85.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u85:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	width: 260px;
	min-height: 33px;
	margin-right: -10000px;
	left: 183px;
}

#u276
{
	width: 260px;
	padding-bottom: 16px;
}

#u276:hover
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u276:active
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u276.MuseMenuActive
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u278-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u276:hover #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276.MuseMenuActive #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 205px;
	min-height: 33px;
	margin-right: -10000px;
	left: 445px;
}

#u285
{
	width: 205px;
	padding-bottom: 16px;
}

#u285:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u285:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u285.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u286-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285.MuseMenuActive #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u289
{
	width: 172px;
	min-height: 33px;
	margin-right: -10000px;
	left: 652px;
}

#u290
{
	width: 172px;
	padding-bottom: 16px;
}

#u290:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u290:active
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u290.MuseMenuActive
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u290:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290.MuseMenuActive #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	width: 195px;
	min-height: 33px;
	margin-right: -10000px;
	left: 826px;
}

#u299
{
	width: 195px;
	padding-bottom: 16px;
}

#u299:hover
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u299:active
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u299.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u300-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 178px;
	min-height: 33px;
	margin-right: -10000px;
	left: 1023px;
}

#u304
{
	width: 178px;
	padding-bottom: 16px;
}

#u304:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u304:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u304.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u306-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u304:hover #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304:active #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304.MuseMenuActive #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#menuu440
{
	z-index: 39;
	width: 443px;
	margin-left: 379px;
	margin-top: 18px;
}

#u448
{
	width: 98px;
	min-height: 35px;
	margin-right: -10000px;
}

#u449
{
	width: 98px;
	padding-bottom: 18px;
}

#u449:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u449:active
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u449.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u452-4
{
	width: 24px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 37px;
}

#u449:hover #u452-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u449:active #u452-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u449.MuseMenuActive #u452-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1035
{
	width: 156px;
	min-height: 35px;
	margin-right: -10000px;
	left: 100px;
}

#u1036
{
	width: 156px;
	padding-bottom: 18px;
}

#u1036:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u1036:active
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u1036.MuseMenuActive
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u1039-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 37px;
}

#u1036:hover #u1039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1036:active #u1039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1036.MuseMenuActive #u1039-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1028
{
	width: 185px;
	min-height: 35px;
	margin-right: -10000px;
	left: 258px;
}

#u1029
{
	width: 185px;
	padding-bottom: 18px;
}

#u1029:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u1029:active
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u1029.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u1032-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
	left: 37px;
}

#u1029:hover #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1029:active #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1029.MuseMenuActive #u1032-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u1027-4
{
	z-index: 60;
	width: 1160px;
	min-height: 164px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 304px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

