#u1095
{
	background-color: #F24400;
	position: relative;
}

#menuu806
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u815
{
	background-color: #FF0000;
	position: relative;
}

#u815:hover
{
	background-color: #FF7500;
}

#u815:active
{
	background-color: #930000;
}

#u818-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u814,#u856
{
	background-color: transparent;
	position: relative;
}

#u859
{
	background-color: #FF0000;
	position: relative;
}

#u859:hover
{
	background-color: #FF7500;
}

#u859:active
{
	background-color: #930000;
}

#u815.MuseMenuActive,#u859.MuseMenuActive
{
	background-color: #850078;
}

#u862-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

