#menuu1352
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1360
{
	background-color: transparent;
	position: relative;
}

#u1361
{
	background-color: #754C24;
	position: relative;
}

#u1361:hover
{
	background-color: #752D24;
}

#u1361:active
{
	background-color: #754C66;
}

#u1361.MuseMenuActive
{
	background-color: #757324;
}

#u1363-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

