.version.minecraft /* version checker */
{
	color: #00000E;
	background-color: #DC024F;
}

.html
{
	background-color: #007300;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -266px;
	padding-bottom: 400px;
	width: 0.01px;
}

#pmenuu81
{
	width: 0.01px;
	margin-left: -1px;
}

#menuu81
{
	z-index: 2;
	width: 1201px;
	margin-right: -10000px;
	margin-top: 211px;
}

#u82
{
	width: 181px;
	min-height: 33px;
	margin-right: -10000px;
}

#u85
{
	width: 181px;
	padding-bottom: 16px;
}

#u85:hover
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u85:active
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u85.MuseMenuActive
{
	width: 181px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u85:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	width: 260px;
	min-height: 33px;
	margin-right: -10000px;
	left: 183px;
}

#u276
{
	width: 260px;
	padding-bottom: 16px;
}

#u276:hover
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u276:active
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u276.MuseMenuActive
{
	width: 260px;
	min-height: 0px;
	margin: 0px;
}

#u278-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u276:hover #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276.MuseMenuActive #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 205px;
	min-height: 33px;
	margin-right: -10000px;
	left: 445px;
}

#u285
{
	width: 205px;
	padding-bottom: 16px;
}

#u285:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u285:active
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u285.MuseMenuActive
{
	width: 205px;
	min-height: 0px;
	margin: 0px;
}

#u286-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285.MuseMenuActive #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u289
{
	width: 172px;
	min-height: 33px;
	margin-right: -10000px;
	left: 652px;
}

#u290
{
	width: 172px;
	padding-bottom: 16px;
}

#u290:hover
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u290:active
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u290.MuseMenuActive
{
	width: 172px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u290:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290.MuseMenuActive #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	width: 195px;
	min-height: 33px;
	margin-right: -10000px;
	left: 826px;
}

#u299
{
	width: 195px;
	padding-bottom: 16px;
}

#u299:hover
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u299:active
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u299.MuseMenuActive
{
	width: 195px;
	min-height: 0px;
	margin: 0px;
}

#u300-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 178px;
	min-height: 33px;
	margin-right: -10000px;
	left: 1023px;
}

#u304
{
	width: 178px;
	padding-bottom: 16px;
}

#u304:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u304:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u304.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u306-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 70px;
}

#u304:hover #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304:active #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304.MuseMenuActive #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	z-index: 39;
	width: 680px;
	margin-right: -10000px;
	left: 261px;
}

#pmenuu600
{
	width: 0.01px;
	margin-left: -118px;
	margin-top: 42px;
}

#menuu600
{
	z-index: 41;
	width: 118px;
	margin-right: -10000px;
}

#u608
{
	width: 118px;
}

#u609
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u609:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u609:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u612-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u609:hover #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u609:active #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u609.MuseMenuActive,#u666:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u666:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u669-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u609.MuseMenuActive #u612-4,#u666:hover #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666:active #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666.MuseMenuActive #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u665,#u650
{
	width: 118px;
	margin-top: 2px;
}

#u651
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u666.MuseMenuActive,#u651:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u651:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u651.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u654-4
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	top: 18px;
}

#u651:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u651:active #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u651.MuseMenuActive #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u165-13
{
	z-index: 60;
	width: 1160px;
	min-height: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 138px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 252px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

