.version.minecraft /* version checker */
{
	color: #000013;
	background-color: #9909B4;
}

.html
{
	background-color: #001A68;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -54px;
	padding-bottom: 300px;
	width: 0.01px;
}

#menuu81
{
	z-index: 2;
	width: 965px;
}

#u82
{
	width: 134px;
	min-height: 33px;
	margin-right: -10000px;
}

#u85
{
	width: 134px;
	padding-bottom: 16px;
}

#u85:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u85:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u85.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u85:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	width: 227px;
	min-height: 33px;
	margin-right: -10000px;
	left: 136px;
}

#u276
{
	width: 227px;
	padding-bottom: 16px;
}

#u276:hover
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u276:active
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u276.MuseMenuActive
{
	width: 227px;
	min-height: 0px;
	margin: 0px;
}

#u278-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u276:hover #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276.MuseMenuActive #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u279
{
	z-index: 15;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 166px;
}

#u276:hover #u279
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u279
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u311
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u311:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u313-4
{
	width: 51px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u311:hover #u313-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u311.MuseMenuActive #u313-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 51px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 173px;
	min-height: 33px;
	margin-right: -10000px;
	left: 365px;
}

#u285
{
	width: 173px;
	padding-bottom: 16px;
}

#u285:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u285:active
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u285.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u286-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285.MuseMenuActive #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u287
{
	z-index: 30;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 112px;
}

#u276.MuseMenuActive #u279,#u285:hover #u287
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u287
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u283
{
	width: 159px;
	top: 33px;
}

#u284,#u322
{
	width: 159px;
}

#u323
{
	width: 157px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u323:hover
{
	width: 157px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u323.MuseMenuActive
{
	width: 157px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u325-4
{
	width: 134px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u323:hover #u325-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u323.MuseMenuActive #u325-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 134px;
	margin: 0px -10000px 0px 0px;
}

#u326
{
	z-index: 39;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 141px;
}

#u285.MuseMenuActive #u287,#u323:hover #u326
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u327
{
	width: 120px;
	left: 159px;
}

#u333
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u311.MuseMenuActive,#u333:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u335-4
{
	width: 53px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 28px;
}

#u333:hover #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u333.MuseMenuActive #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 53px;
	margin: 0px -10000px 0px 0px;
}

#u289
{
	width: 126px;
	min-height: 33px;
	margin-right: -10000px;
	left: 540px;
}

#u290
{
	width: 126px;
	padding-bottom: 16px;
}

#u290:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u290:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u290.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u290:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290.MuseMenuActive #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	width: 163px;
	min-height: 33px;
	margin-right: -10000px;
	left: 668px;
}

#u299
{
	width: 163px;
	padding-bottom: 16px;
}

#u299:hover
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u299:active
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u299.MuseMenuActive
{
	width: 163px;
	min-height: 0px;
	margin: 0px;
}

#u300-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u302
{
	z-index: 60;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 9px;
	left: 102px;
}

#u323.MuseMenuActive #u326,#u299:hover #u302
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u302
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u302
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u280,#u297
{
	width: 120px;
	top: 33px;
}

#u281,#u310,#u328,#u332,#u298,#u344
{
	width: 120px;
}

#u345
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u333.MuseMenuActive,#u345:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u347-4
{
	width: 100px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 5px;
}

#u345:hover #u347-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u345.MuseMenuActive #u347-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 132px;
	min-height: 33px;
	margin-right: -10000px;
	left: 833px;
}

#u304
{
	width: 132px;
	padding-bottom: 16px;
}

#u304:hover
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u304:active
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u304.MuseMenuActive
{
	width: 132px;
	min-height: 0px;
	margin: 0px;
}

#u306-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 47px;
}

#u304:hover #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304:active #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304.MuseMenuActive #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u165-7
{
	z-index: 75;
	width: 920px;
	min-height: 180px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 41px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 159px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

