.version.minecraft /* version checker */
{
	color: #00001E;
	background-color: #B2A1A9;
}

.html
{
	background-color: #007300;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 768px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -266px;
	padding-bottom: 384px;
	width: 0.01px;
}

#pmenuu81
{
	width: 0.01px;
	margin-left: -1px;
}

#menuu81
{
	z-index: 3;
	width: 1367px;
	margin-right: -10000px;
	margin-top: 211px;
}

#u82
{
	width: 208px;
	min-height: 33px;
	margin-right: -10000px;
}

#u85
{
	width: 208px;
	padding-bottom: 16px;
}

#u85:hover
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u85:active
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u85.MuseMenuActive
{
	width: 208px;
	min-height: 0px;
	margin: 0px;
}

#u88-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u85:hover #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85:active #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u85.MuseMenuActive #u88-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u275
{
	width: 287px;
	min-height: 33px;
	margin-right: -10000px;
	left: 210px;
}

#u276
{
	width: 287px;
	padding-bottom: 16px;
}

#u276:hover
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u276:active
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u276.MuseMenuActive
{
	width: 287px;
	min-height: 0px;
	margin: 0px;
}

#u278-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u276:hover #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276:active #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u276.MuseMenuActive #u278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u282
{
	width: 233px;
	min-height: 33px;
	margin-right: -10000px;
	left: 499px;
}

#u285
{
	width: 233px;
	padding-bottom: 16px;
}

#u285:hover
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u285:active
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u285.MuseMenuActive
{
	width: 233px;
	min-height: 0px;
	margin: 0px;
}

#u286-4
{
	width: 65px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u285:hover #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285:active #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u285.MuseMenuActive #u286-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u289
{
	width: 200px;
	min-height: 33px;
	margin-right: -10000px;
	left: 734px;
}

#u290
{
	width: 200px;
	padding-bottom: 16px;
}

#u290:hover
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u290:active
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u290.MuseMenuActive
{
	width: 200px;
	min-height: 0px;
	margin: 0px;
}

#u292-4
{
	width: 32px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u290:hover #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290:active #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u290.MuseMenuActive #u292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 32px;
	margin: 0px -10000px 0px 0px;
}

#u296
{
	width: 223px;
	min-height: 33px;
	margin-right: -10000px;
	left: 936px;
}

#u299
{
	width: 223px;
	padding-bottom: 16px;
}

#u299:hover
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u299:active
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u299.MuseMenuActive
{
	width: 223px;
	min-height: 0px;
	margin: 0px;
}

#u300-4
{
	width: 55px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u299:hover #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299:active #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u299.MuseMenuActive #u300-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u303
{
	width: 206px;
	min-height: 33px;
	margin-right: -10000px;
	left: 1161px;
}

#u304
{
	width: 206px;
	padding-bottom: 16px;
}

#u304:hover
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u304:active
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u304.MuseMenuActive
{
	width: 206px;
	min-height: 0px;
	margin: 0px;
}

#u306-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 84px;
}

#u304:hover #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304:active #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u304.MuseMenuActive #u306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u594
{
	z-index: 40;
	width: 680px;
	margin-right: -10000px;
	left: 261px;
}

#pu1094
{
	width: 0.01px;
	margin-top: 22px;
}

#u1094
{
	z-index: 2;
	width: 161px;
	padding-bottom: 129px;
	margin-right: -10000px;
}

#menuu600
{
	z-index: 42;
	width: 118px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u608
{
	width: 118px;
}

#u609
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u609:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u609:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u612-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u609:hover #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u609:active #u612-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1010
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u609.MuseMenuActive,#u1010:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1010:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1011-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u609.MuseMenuActive #u612-4,#u1010:hover #u1011-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1010:active #u1011-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u1010.MuseMenuActive,#u666:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u666:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u669-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 18px;
}

#u1010.MuseMenuActive #u1011-4,#u666:hover #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666:active #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u666.MuseMenuActive #u669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1007,#u665,#u650
{
	width: 118px;
	margin-top: 2px;
}

#u651
{
	width: 118px;
	padding-bottom: 36px;
	margin-right: -10000px;
}

#u666.MuseMenuActive,#u651:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u651:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u651.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u654-4
{
	width: 118px;
	min-height: 34px;
	margin-right: -10000px;
	top: 18px;
}

#u651:hover #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u651:active #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u651.MuseMenuActive #u654-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u165-13
{
	z-index: 67;
	width: 1160px;
	min-height: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 163px;
}

body
{
	position: relative;
	min-width: 1366px;
	padding-top: 252px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

